@model Movie

@{
    ViewData["Title"] = "Create actor";
}

<form asp-controller="Movie" asp-action="Create" method="post">
    <label>ImageURL</label>
    <input asp-for="ImageURL" type="text" />
    <label>Name</label>
    <input asp-for="Name" type="text" />
    <label>Description</label>
    <input asp-for="Description" type="text" />
    <label>StartDate</label>
    <input asp-for="StartDate" type="text" />
    <label>EndDate</label>
    <input asp-for="EndDate" type="text" />
    <label>Category</label>
    <input asp-for="Category" type="text" />
    <label>CinemaId</label>
    <input asp-for="CinemaId" type="text" />
    <label>ProducerId</label>
    <input asp-for="ProducerId" type="text" />
    <input type="submit" value="Create" />
    <a asp-controller="Actor" asp-action="Actors">Show all</a>
</form>
