@model Producer

@{
    ViewData["Title"] = "Create producer";
}

<form asp-action="Create" method="post">
    <div>
        <label>PictureURL</label>
        <input asp-for="ProfilePictureURL" type="text" />
    </div>
    <div>
        <label>FullName</label>
        <input asp-for="FullName" type="text" />
    </div>
    <div>
        <label>Bio</label>
        <input asp-for="Bio" type="text" />
    </div>
    <div>
        <input type="submit" value="Create" />
        <a asp-action="Producers">Show all</a>
    </div>
</form>
