@model Producer

@{
    ViewData["Title"] = "Edit producer";
}

<form asp-action="Edit" method="post">
    <div>
        <label>PictureURL</label>
        <input asp-for="ProfilePictureURL" type="text" />
    </div>
    <div>
        <label>FullName</label>
        <input asp-for="FullName" type="text" />
    </div>
    <div>
        <label>Biography</label>
        <input asp-for="Bio" type="text" />
    </div>
    <div>
        <input type="submit" value="Update" />
        <a asp-action="Delete" asp-route-id="@Model.ProducerId"><div class="button">Delete</div></a>
        <a asp-action="Producers">Show all</a>
    </div>
</form>
