main {
    display: flex;
    justify-content: center;
}

/*Layout*/
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    font-size: 18px;
    font-family: sans-serif;
}
.navbar-info-container {
    display: inline-block;
}
.navbar-info {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-info li:first-child {
    margin-right: 50px;
}
.navbar-info li:last-child {
    margin-right: 50px;
}
.user-role {
    cursor: default;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 4px 0px 4px 0px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    display: inline-block;
}
.moderator {
    color: #3871C1;
    border: #3871C1 solid 1px;
}
.admin {
    color: #F26065;
    border: #F26065 solid 1px;
}
.owner {
    color: #32B76C;
    border: #32B76C solid 1px;
}
.container-user-btn {
    cursor: pointer;
}
.container-user-info {
    width: 250px;
    text-align: center;
    position: absolute;
    top: 45px;
    right: 40px;
    background: white;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    box-shadow: rgb(60 64 67 / 30%) 0px -1px 2px 0px, rgb(60 64 67 / 15%) 0px -2px 6px 2px;
    border-radius: 5px;
    z-index: 999;
}
.user-info-back-pic {
    background: #02393E;
    height: 70px;
    width: 100%;
    border-top-left-radius: 5px;
}
.user-info-edit-btn {
    height: 28px;
    width: 28px;
    display: inline-block;
    background: url(../img/icon/pencil.png);
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    margin-top: 36px;
}
.user-info-edit-btn::after {
    content: '';
    height: 28px;
    width: 28px;
    display: inline-block;
    background: white;
    border-radius: 100%;
    opacity: 0;
    transition: .3s;
}
.user-info-edit-btn:hover::after {
    opacity: 0.2;
    cursor: pointer;
}
.user-profile-photo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid white;
    margin-top: -40px;
}
.user-info-main {
    margin-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DADCE0;
}
.user-info-main p:nth-child(2) {
    font-size: 13px;
    color: #62666B;
}
.container-user-info ul {
    padding: 0px;
    margin: 15px 0;
}
.container-user-info ul li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 0px !important;
    list-style: none;
}
.container-user-info ul li:hover {
    background: #E3E3E4;
    cursor: pointer;
}
.container-user-info ul img {
    width: 14px;
    margin: 0 15px;
}
.show {
    opacity: 1;
    visibility: visible;
}

/*Form*/
.container-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 10px 0px;
    flex-wrap: wrap;
}
.container-nav {
    display: flex;
    grid-column-gap: 50px;
}
.container-nav a:hover {
    border-bottom: 1px solid black;
}
.form-link-now {
    border-bottom: 1px solid black;
}
.container-search-input {
    position: relative;
}
.search-input {
    width: 300px;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 17px;
    font-family: sans-serif;
    transition: .3s;
    outline: none;
    background-image: url("../img/icon/search.png");
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 2px 2px;
    padding: 0px;
    padding-left: 35px;
}
.search-input:focus,
.search-input:active {
    border: 1px solid #999;
}
.list-searcher {
    position: absolute;
    z-index: 999;
    background: white;
    padding: 5px 5px 0px 5px;
    max-height: 242px;
    width: calc(100% - 12px);
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0px 20px -2px rgb(0 0 0 / 40%);
}
.list-searcher::-webkit-scrollbar {
    width: 8px;
}
.list-searcher::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.list-searcher::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.list-searcher::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.list-searcher:empty {
    visibility: hidden;
}
.search-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.search-item:hover {
    background: #F8F8F8;
    cursor: pointer;
}
.search-item img {
    width: 50px;
}
.search-item span {
    margin-left: 5px;
}
.add {
    display: inline-block;
    color: #32B76C;
    border: 1px solid #32B76C;
    border-radius: 5px;
    padding: 11px 18px 9px 17px;
    transition: .3s;
}
.add:hover {
    background: #50C878;
    color: white;
}




/*Movies*/
h1 {
    font-family: sans-serif;
}
li {
    font-family: sans-serif;
    font-size: 14px;
}
p {
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
}
span {
    font-family: sans-serif;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    grid-column-gap: 5px;
}
.card {
    width: 256px;
    display: flex;
    justify-content: center;
    position: relative;
}
.card:hover {
    background: #F8F8F8;
    cursor: pointer;
}
.card:hover .card-img {
    opacity: 0.7;
    filter: blur(2px);
}
.card-header {
    height: 370px;
    width: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: black;
}
.card-icon-details {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 26%;
    top: 28%;
    display: inline-block;
    background: url("../img/icon/menu-dots.png");
    background-size: contain;
    opacity: 0;
    transition: .3s;
}
.card:hover .card-icon-details {
    opacity: 1;
}
.card-img {
    width: 250px;
    transition: .3s;
}
.card-bookmark {
    position: absolute;
    top: -2px;
    left: 5px;
}
.card-bookmark img {
    width: 35px;
    height: 35px;    
}
.card-score {
    padding: 4px 9px 4px 6px;
    border-radius: 3px;
    background: #ffd400;
    position: absolute;
    top: -3px;
    right: 0;
}
.card-score img {
    width: 14px;
    height: 14px;
}
.card-score span {
    padding-left: 5px;
    font-size: 13px;
    font-weight: 700;
}
.card-info-header {
    margin: 5px 0px 0px 0px;
    display: flex;
    position: relative;
}
.card-info h1 {
    margin: 0px;
    font-size: 17px;
    font-weight: bold;
}
.card-status {
    margin-left: 5px;
    padding: 2px 2px 0px 2px;
    border-radius: 5px;
    font-size: 13px;
}
.card-status-new {
    color: #32B76C;
    border: 1px solid #32B76C;
}
.card-status-future {
    color: #3871C1;
    border: 1px solid #3871C1;
}
.card-status-last {
    color: #F26065;
    border: 1px solid #F26065;
}
.card-info-icon img {
    width: 37px;
    height: 37px;
    position: absolute;
    top: 350px;
    right: 10px;
}
.card-info ul {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    display: flex;
    list-style-type: '|';
}
.card-info li {
    margin-left: 10px;
    padding-left: 5px;
    color: #999999;
}
.card-info ul li:first-child {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.card-info p {
    margin: 5px 0px 5px 0px;
    color: #999999;
}