@model Movie

@{
    ViewData["Title"] = "Create movie";
}

<form asp-controller="Movie" asp-action="Create" method="post">
    <div>
        <label>ImageURL</label>
        <input asp-for="ImageURL" type="text" />
    </div>
    <div>
        <label>Name</label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label>Description</label>
        <textarea asp-for="Description" type="text" style="width: 100%; height: 300px;"></textarea>
    </div>
    <div>
        <label>StartDate</label>
        <input asp-for="StartDate" type="date" />
    </div>
    <div>
        <label>EndDate</label>
        <input asp-for="EndDate" type="date" />
    </div>
    <div>
        <label>Category</label>
        <input asp-for="Category" type="text" />
    </div>
    <div>
        <label>CinemaId</label>
        <input asp-for="CinemaId" type="text" />
    </div>
    <div>
        <label>ProducerId</label>
        <input asp-for="ProducerId" type="text" />
    </div>
    <div>
        <input type="submit" value="Create" />
        <a asp-controller="Movie" asp-action="Movies">Show all</a>
    </div>
</form>
