@model Movie

@{
    ViewData["Title"] = "Edit movie";
}

<form asp-controller="Movie" asp-action="Edit" method="post">
    <div>
        <label>ImageURL</label>
        <input asp-for="ImageURL" type="text" />
    </div>
    <div>
        <label>Name</label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label>Category</label>
        <input asp-for="Category" type="text" />
    </div>
    <div>
        <label>Descriotion</label>
        <input asp-for="Description" type="text" />
    </div>
    <div>
        <label>Start</label>
        <input asp-for="StartDate" type="text" />
    </div>
    <div>
        <label>End</label>
        <input asp-for="EndDate" type="text" />
    </div>
    <div>
        <label>ProducerId</label>
        <input asp-for="ProducerId" type="text" />
    </div>
    <div>
        <label>CinemaId</label>
        <input asp-for="CinemaId" type="text" />
    </div>
    <div>
        <input type="submit" value="Update" />
        <a asp-action="Delete" asp-route-id="@Model.MovieId"><div class="button">Delete</div></a>
        <a asp-action="Movies">Show all</a>
    </div>
</form>
