@using FilmSearcher.DAL.Domain.Enum;
@model MovieViewModel

@{
    ViewData["Title"] = "Edit movie";
}

<form asp-controller="Movie" asp-action="Edit" method="post">
    <div class="container">
        <div>
            <div>
                <label>ImageURL:</label>
                <input asp-for="Movie.ImageURL" type="text" />
            </div>
            <img style="width: 300px; margin-top: 20px" src="@Model.Movie.ImageURL" />
        </div>
        <div class="container-info">
            <div>
                <label>Id:</label>
                <input asp-for="Movie.MovieId" type="text" />
            </div>
            <div>
                <label>Name:</label>
                <input asp-for="Movie.Name" type="text" />
            </div>
            <div>
                <label>Category:</label>
                <select asp-for="Movie.Category">
                    @foreach (var item in Enum.GetValues(typeof(MovieCategory)))
                    {
                        int num = (int)item;
                        MovieCategory name = (MovieCategory)item;

                        <option value="@num">@name</option>
                    }
                </select>
            </div>
            <div>
                <label>Start:</label>
                <input asp-for="Movie.StartDate" type="date" />
            </div>
            <div>
                <label>End:</label>
                <input asp-for="Movie.EndDate" type="date" />
            </div>
            <div>
                <label>Producer:</label>
                <input asp-for="Movie.ProducerId" type="text" />
            </div>
            <div>
                <label>Actors:</label>
                <div class="searcher-block">
                    <div class="list-actors"></div>
                    <input type="text" name="search" id="search" placeholder="Актори..." autocomplete="off" />
                    <div class="list-searcher list-searcher-actors" id="search-block"></div>
                </div>
            </div>
            <div>
                <label>Cinema:</label>
                <input asp-for="Movie.CinemaId" type="text" />
            </div>
            <div>
                <label>Description:</label>
                <textarea asp-for="Movie.Description" style="width: 100%; height: 300px;"></textarea>
                <span class="chars-current">0</span>
            </div>
            <div class="container-buttons">
                <input class="button update" type="submit" value="Update" />
                @if(User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@Model.Movie.MovieId"><div class="button delete">Delete</div></a>
                }
                <a asp-action="Movies"><div class="button show">Show all</div></a>
            </div>
        </div>
    </div>
</form>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: black;
    }

    .container {
        display: flex;
    }

    .container-info {
        width: 55vw;
        margin-left: 20px;
        display: grid;
        row-gap: 10px;
    }

    .container-buttons {
        display: flex;
    }

    .container-buttons a {
        margin-left: 10px;
    }

    .button {
        width: 80px;
        height: 40px;
        background: #999999;
        border-radius: 5px;
        text-align: center;
        padding-top: 7px;
        font-weight: 600;
    }

    .update {
        border: 0px;
        padding-bottom: 7px;
    }

    .update:hover {
        color: white;
        background: #198754;
        transition: .3s;
    }

    .delete:hover {
        color: white;
        background: #dc3545;
        transition: .3s;
    }

    .show:hover {
        color: white;
        background: #6f42c1;
        transition: .3s;
    }

    .searcher-block {
        position: relative;
        width: 400px;
        border: 1px solid #999;
        padding: 4px;
        border-radius: 4px;
    }

    .list-actors {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .searcher-block input {
        border: none;
        padding: 3px 5px;
        margin: 5px;
        width: 92.8%;
    }

    .searcher-block input:focus {
        outline: none;
    }

    .list-searcher-actors {
        border: 1px solid #999;
        margin-top: 4px;
        margin-left: -4.5px;
        width: 398px;
    }

    .selected-item {
        display: flex;
        align-items: center;
        background: #0088CC;
        height: 20px;
        font-size: 15px;
        color: white;
        border-radius: 3px;
        padding: 3px 4px 3px 4px;
        margin: 5px 0px 5px 5px;
        transition: .1s;
    }

    .selected-item:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .delete-btn {
        display: inline-block;
        margin: 0px 2px;
    }

    .delete-btn img {
        width: 8px;
    }
</style>
<script src="~/js/movie-edit.js"></script>