@using FilmSearcher.DAL.Domain.Enum;
@model Movie

@{
    ViewData["Title"] = "Edit movie";
}

<div class="container-form-movie">
    <div>
        <div>
            <label>ImageURL:</label>
            <input id="imageUrl" asp-for="ImageURL" type="text" />
        </div>
        <img style="width: 300px; margin-top: 20px" src="@Model.ImageURL" />
    </div>
    <div class="container-info">
        <div>
            <label>Id:</label>
            <input id="id" asp-for="MovieId" type="text" />
        </div>
        <div>
            <label>Name:</label>
            <input id="name" asp-for="Name" type="text" />
        </div>
        <div>
            <label>Category:</label>
            <select id="category" asp-for="Category">
                @foreach (var item in Enum.GetValues(typeof(MovieCategory)))
                {
                    int num = (int)item;
                    MovieCategory name = (MovieCategory)item;

                    <option value="@num">@name</option>
                }
            </select>
        </div>
        <div>
            <label>Start:</label>
            <input id="startDate" asp-for="StartDate" type="date" />
        </div>
        <div>
            <label>End:</label>
            <input id="endDate" asp-for="EndDate" type="date" />
        </div>
        <div>
            <label>Producer:</label>
            <input id="producerId" asp-for="ProducerId" type="text" />
        </div>
        <div>
            <label>Actors:</label>
            <div class="searcher-block">
                <div class="list-actors"></div>
                <input type="text" name="search" id="search" placeholder="Актори..." autocomplete="off" />
                <div class="list-searcher list-searcher-actors" id="search-block"></div>
            </div>
        </div>
        <div>
            <label>Cinema:</label>
            <input id="cinemaId" asp-for="CinemaId" type="text" />
        </div>
        <div>
            <label>Description:</label>
            <textarea id="description" asp-for="Description" style="width: 100%; height: 300px;"></textarea>
        </div>
        <div class="container-buttons">
            <input class="button update" type="submit" value="Update" />
            @if(User.IsInRole("Admin") || User.IsInRole("Owner"))
            {
                <a asp-action="Delete" asp-route-id="@Model.MovieId"><div class="button delete">Delete</div></a>
            }
        </div>
    </div>
</div>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: black;
    }

    .container-form-movie {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .container-info {
        width: 55vw;
        margin-left: 20px;
        display: grid;
        row-gap: 10px;
    }

    .container-buttons {
        display: flex;
    }

    .container-buttons a {
        margin-left: 10px;
    }

    .button {
        width: 80px;
        height: 40px;
        background: #999999;
        border-radius: 5px;
        text-align: center;
        padding-top: 7px;
        font-weight: 600;
    }

    .update {
        border: 0px;
        padding-bottom: 7px;
    }

    .update:hover {
        color: white;
        background: #198754;
        transition: .3s;
    }

    .delete:hover {
        color: white;
        background: #dc3545;
        transition: .3s;
    }

    .searcher-block {
        position: relative;
        width: 400px;
        border: 1px solid #999;
        padding: 4px;
        border-radius: 4px;
        cursor: text;
    }

    .searcher-block-click {
        border: 1px solid #0088CC;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .list-actors {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .searcher-block input {
        border: none;
        padding: 3px 5px;
        margin: 5px;
        width: 92.8%;
    }

    .searcher-block input:focus {
        outline: none;
    }

    .list-searcher-actors {
        border: 1px solid #0088CC;
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: 4px;
        margin-left: -4.5px;
        width: calc(100% - 10px);
        box-shadow: none;
    }

    .list-searcher-actors:empty {
        background: transparent;
        border: none;
    }

    .selected-item {
        display: flex;
        align-items: center;
        background: #0088CC;
        height: 20px;
        font-size: 15px;
        color: white;
        border-radius: 3px;
        padding: 3px 4px 3px 4px;
        margin: 5px 0px 5px 5px;
        transition: .1s;
    }

    .selected-item:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .delete-btn {
        display: inline-block;
        margin: 0px 2px;
    }

    .delete-btn img {
        width: 8px;
        transition: .1s;
    }
</style>
<script src="~/js/movie-edit.js"></script>