@model Actor

@{
    ViewData["Title"] = "Actor";
}

<form asp-action="Details" method="post">
    <div>
        <label>Actor id</label>
        <span>@Model.ActorId</span>
    </div>
    <div>
        <label>PictureURL</label>
        <img src="@Model.ProfilePictureURL" />
    </div>
    <div>
        <label>FullName</label>
        <span>@Model.FullName</span>
    </div>
    <div>
        <label>Bio</label>
        <span>@Model.Bio</span>
    </div>
    <a asp-controller="Actor" asp-action="Actors">Show all</a>
</form>
