@model Actor

@{
    ViewData["Title"] = "Create actor";
}

<form asp-controller="Actor" asp-action="Create" method="post">
    <label>PictureURL</label>
    <input asp-for="ProfilePictureURL" type="text" />
    <label>FullName</label>
    <input asp-for="FullName" type="text" />
    <label>Bio</label>
    <input asp-for="Bio" type="text" />
    <input type="submit" value="Create" />
    <a asp-controller="Actor" asp-action="Actors">Show all</a>
</form>
